<h1> Gerardo Sandoval's Data Exploration </h1>

In [1]:
import AidUtilities as utils

In [2]:
import pandas as pd

Start of Data Exploration
Let's start with Education Data.

# Education Data

In [3]:
path = '/home/gsandoval/Documents/Classes/depaul/Korea/Data/WorldBank_Education/education_data.txt'
ed_data = pd.read_csv(path, sep='\t')

In [4]:
ed_data.head(2)

,Series Name,Series Code,Country Name,Country Code,1971 [YR1971],1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,Bolivia,BOL,..,..,..,..,..,..,...,91.85201,88.39177,88.0242,87.94434,88.70123,89.84267,91.48686,93.18324,..,..
1,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,Costa Rica,CRI,..,87.99677,89.38068,..,90.45446,92.63459,...,99.43417,99.46534,98.89928,97.21585,97.81775,98.36736,96.55127,97.40817,..,..

In [6]:
# get Series Names
def clean_col_names(df):
    new_col_names = []
    for col in df.columns:
        if 'YR' in col:
            year, _ = col.split(' ')
            new_col_names.append(year)
        else:
            new_col_names.append(col.replace(' ', '_'))
    df.columns = new_col_names
    return df

In [7]:
ed_data = clean_col_names(ed_data)

In [8]:
ed_data.tail(10)

,Series_Name,Series_Code,Country_Name,Country_Code,1971,1972,1973,1974,1975,1976,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
510,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Chile,CHL,..,..,..,..,..,..,...,99.4081878662109,..,99.0482788085938,..,99.3539428710938,..,99.008659362793,..,..,..
511,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Mexico,MEX,..,..,..,..,..,..,...,98.4617691040039,98.8754196166992,98.5644989013672,99.0000381469727,98.944709777832,99.1162033081055,99.1246871948242,99.3184509277344,..,99.0824127197266
512,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Paraguay,PRY,..,..,..,..,..,..,...,..,98.1779174804688,98.8991317749023,98.7137985229492,98.6536026000977,98.4505996704102,..,98.2815170288086,98.3552322387695,98.6447067260742
513,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Belize,BLZ,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
514,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Colombia,COL,..,..,..,..,..,..,...,98.2393798828125,..,..,98.5409469604492,98.5347290039063,98.6683120727539,..,98.8516464233398,98.8267593383789,99.0118179321289
515,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Ecuador,ECU,..,..,..,..,..,..,...,98.6948394775391,98.8316268920898,98.6046371459961,99.097770690918,99.1261978149414,99.0571136474609,99.2550506591797,..,..,98.7670364379883
516,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Guatemala,GTM,..,..,..,..,..,..,...,..,93.6534729003906,91.851921081543,94.354248046875,..,..,..,94.6041488647461,..,..
517,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Honduras,HND,..,..,..,..,..,..,...,95.9250030517578,94.9809494018555,95.0664901733398,95.6770706176758,96.0075073242188,96.1265411376953,..,96.5158386230469,96.0838928222656,..
518,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Nicaragua,NIC,..,..,..,..,..,..,...,..,..,..,..,91.57177734375,..,..,..,..,..
519,"Literacy rate, youth total (% of people ages 1...",SE.ADT.1524.LT.ZS,Peru,PER,..,..,..,..,..,..,...,..,98.6981582641602,..,98.9775314331055,99.0095367431641,98.8834915161133,99.0574798583984,99.0237579345703,..,99.4363632202148

In [9]:
series_names = ed_data.Series_Name.unique()
country_names = ed_data.Country_Code.unique()

In [10]:
print(series_names)
print(country_names)

['Adjusted net enrollment rate, primary (% of primary school age children)'
 'Adjusted net enrollment rate, primary, female (% of primary school age children)'
 'Adjusted net enrollment rate, primary, male (% of primary school age children)'
 'Adolescents out of school (% of lower secondary school age)'
 'Adolescents out of school, male (% of male lower secondary school age)'
 'Adolescents out of school, female (% of female lower secondary school age)'
 'Children out of school, primary'
 'Compulsory education, duration (years)'
 'Current education expenditure, primary (% of total expenditure in primary public institutions)'
 'Current education expenditure, secondary (% of total expenditure in secondary public institutions)'
 'Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)'
 'Current education expenditure, total (% of total expenditure in public institutions)'
 "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)"
 'Expenditure on primary education (% of government expenditure on education)'
 'Expenditure on secondary education (% of government expenditure on education)'
 'Expenditure on tertiary education (% of government expenditure on education)'
 'Government expenditure on education, total (% of GDP)'
 'Government expenditure on education, total (% of government expenditure)'
 'Government expenditure per student, primary (% of GDP per capita)'
 'Government expenditure per student, secondary (% of GDP per capita)'
 'Government expenditure per student, tertiary (% of GDP per capita)'
 'Literacy rate, adult total (% of people ages 15 and above)'
 'Literacy rate, youth (ages 15-24), gender parity index (GPI)'
 'Literacy rate, adult male (% of males ages 15 and above)'
 'Literacy rate, adult female (% of females ages 15 and above)'
 'Literacy rate, youth total (% of people ages 15-24)']
['BOL' 'CRI' 'DMA' 'SLV' 'GUY' 'PAN' 'URY' 'SUR' 'ARG' 'BRA' 'CHL' 'MEX'
 'PRY' 'BLZ' 'COL' 'ECU' 'GTM' 'HND' 'NIC' 'PER']

In [11]:
def rename_series(series_names):
    new_series_names = []
    for series in series_names:
        print(series)
        new_name = input('Enter New Name')
        new_series_names.append(new_name)

In [ ]:
print(new_series_names)

['Primary_Pct_Enrolled', 'Primary_Pct_Female_Enrolled', 'Primary_Pct_Male_Enrolled', 'Pct_Secondary_Truent', 'Pct_Male_Secondary_Truent', 'Pct_Female_Seconday_Truent', 'Primary_Truent', 'Yrs_Req_Edu', 'Pct_Edu_Expenditure', 'Pct_Secondary_Expenditure', 'Pct_Tertiary_Expenditure', 'Pct_Edu_Expenditure', 'Cum_Pct_wBachelors', 'Pct_Primary_Govt_Expenditure', 'Pct_Secondary_Govt_Expenditure', 'Pct_Tertiary_Govt_Expenditure', 'Pct_GDP_Edu', 'Pct_Govt_Expenditure', 'Govt_Expenditure_perStudent', 'Govt_Expenditure_perStudent_Secondary', 'Govt_Expenditure_perStudent_Tertiary', 'Pct_Pop_Literate', 'Youth_Lit_rate', 'Pct_Males_Literate', 'Pct_Females_Literate', '']

In [12]:
# Reinstantiate here to correct errors
new_series_names = ['Primary_Pct_Enrolled', 'Primary_Pct_Female_Enrolled', 'Primary_Pct_Male_Enrolled', 
                    'Pct_Secondary_Truent', 'Pct_Male_Secondary_Truent', 'Pct_Female_Seconday_Truent', 
                    'Primary_Truent', 'Yrs_Req_Edu', 'Pct_Edu_Expenditure', 'Pct_Secondary_Expenditure', 
                    'Pct_Tertiary_Expenditure', 'Pct_Edu_Expenditure', 'Cum_Pct_wBachelors', 
                    'Pct_Primary_Govt_Expenditure', 'Pct_Secondary_Govt_Expenditure', 'Pct_Tertiary_Govt_Expenditure', 
                    'Pct_GDP_Edu', 'Pct_Govt_Expenditure', 'Govt_Expenditure_perStudent', 
                    'Govt_Expenditure_perStudent_Secondary', 'Govt_Expenditure_perStudent_Tertiary', 
                    'Pct_Pop_Literate', 'Youth_Lit_rate', 'Pct_Males_Literate', 'Pct_Females_Literate', 'Youth_Lit_Rate']